.user-img {
    &-1 {
        background-image: url('/img/profile/profile-img-one.jpg');
    }
    &-2 {
        background-image: url('/img/profile/profile-img-two.jpg');
    }
    &-3 {
        background-image: url('/img/profile/profile-img-three.jpg');
    }
    &-4 {
        background-image: url('/img/profile/profile-img-four.jpg');
    }
    &-5 {
        background-image: url('/img/profile/profile-img-five.jpg');
    }
    &-6 {
        background-image: url('/img/profile/profile-img-six.jpg');
    }
    &-7 {
        background-image: url('/img/profile/profile-img-seven.jpg');
    }
    &-8 {
        background-image: url('/img/profile/profile-img-eight.jpg');
    }
    &-9 {
        background-image: url('/img/profile/profile-img-nine.jpg');
    }
    &-10 {
        background-image: url('/img/profile/profile-img-ten.jpg');
    }
    &-11 {
        background-image: url('/img/profile/profile-img-eleven.jpg');
    }
    &-12 {
        background-image: url('/img/profile/profile-img-twelve.jpg');
    }
}